In [1]:
import pandas as pd

In [2]:
dict1 ={'Name':['Priyang','Aadhya','Krisha','Vedant','Parshv',
                'Mittal','Archana'],
                'Marks':[98,89,99,87,90,83,99],
                'Gender':['Male','Female','Female','Male','Male',
                         'Female','Female']
               }
df=pd.DataFrame(dict1)
df

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

1.Display Top 3 Rows of The Dataset

In [3]:
df.head(3)

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female

2. Check Last 3 Rows of The **Dataset**

In [4]:
df.tail(3)

      Name  Marks  Gender
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

3. Find Shape of Our Dataset (Number of Rows & Number of Columns)

In [7]:

rows=print("number of rows: ",df.shape[0])
Columns=print("number of columns: ",df.shape[1])

number of rows:  7
number of columns:  3

4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    7 non-null      object
 1   Marks   7 non-null      int64
 2   Gender  7 non-null      object
dtypes: int64(1), object(2)
memory usage: 296.0+ bytes

5.Check Null Values In The Dataset

In [9]:
df.isnull().sum()

Name      0
Marks     0
Gender    0
dtype: int64

6. Get Overall Statistics About The Dataframe

In [10]:
df.describe()

           Marks
count   7.000000
mean   92.142857
std     6.491753
min    83.000000
25%    88.000000
50%    90.000000
75%    98.500000
max    99.000000

In [19]:
df.describe(include='all') # can get all statists value include object type data

           Name      Marks  Gender
count         7   7.000000       7
unique        7        NaN       2
top     Priyang        NaN  Female
freq          1        NaN       4
mean        NaN  92.142857     NaN
std         NaN   6.491753     NaN
min         NaN  83.000000     NaN
25%         NaN  88.000000     NaN
50%         NaN  90.000000     NaN
75%         NaN  98.500000     NaN
max         NaN  99.000000     NaN

7.Find Unique Values From The Gender Column

In [11]:
df.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

8. Find the Number of Unique values from the Gender column

In [12]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

Female    4
Male      3
Name: Gender, dtype: int64

9. Display Count of Unique Values In Gender Column

In [14]:
df['Gender'].value_counts()

Female    4
Male      3
Name: Gender, dtype: int64

10. Find Total Number of Students Having Marks Between 90 To 100 (Inclusive) Using Between Method

In [20]:
df[df['Marks']>= 90]

      Name  Marks  Gender
0  Priyang     98    Male
2   Krisha     99  Female
4   Parshv     90    Male
6  Archana     99  Female

In [21]:
df[df['Marks']<= 100]

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

In [26]:
df[(df['Marks']>=90) & (df['Marks']<=100)]['Name']

0    Priyang
2     Krisha
4     Parshv
6    Archana
Name: Name, dtype: object

In [28]:
sum((df['Marks']>=90) & (df['Marks']<=100))

4

In [16]:
sum(df['Marks'].between(90,100))

4

11. Find Average Marks

In [31]:
df['Marks'].mean()

92.14285714285714

12. Apply Method

In [32]:
def marks(x):
    return x/2

In [33]:
df['Half_Marks']=df['Marks'].apply(marks)

In [34]:
df

      Name  Marks  Gender  Half_Marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2   Krisha     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archana     99  Female        49.5

In [35]:
df['Name'].apply(len)

0    7
1    6
2    6
3    6
4    6
5    6
6    7
Name: Name, dtype: int64

In [36]:
df['Marks'].apply(lambda x:x//2)

0    49
1    44
2    49
3    43
4    45
5    41
6    49
Name: Marks, dtype: int64

In [37]:
df

      Name  Marks  Gender  Half_Marks
0  Priyang     98    Male        49.0
1   Aadhya     89  Female        44.5
2   Krisha     99  Female        49.5
3   Vedant     87    Male        43.5
4   Parshv     90    Male        45.0
5   Mittal     83  Female        41.5
6  Archana     99  Female        49.5

13. Map Function

In [38]:
df['New_Gendr']=df['Gender'].map({'Male':1,'Female':0})

In [39]:
df

      Name  Marks  Gender  Half_Marks  New_Gendr
0  Priyang     98    Male        49.0          1
1   Aadhya     89  Female        44.5          0
2   Krisha     99  Female        49.5          0
3   Vedant     87    Male        43.5          1
4   Parshv     90    Male        45.0          1
5   Mittal     83  Female        41.5          0
6  Archana     99  Female        49.5          0

14. Drop the Column(s)

In [42]:
df.drop(['New_Gendr','Half_Marks'],axis=1 , inplace=True)

In [43]:
df

      Name  Marks  Gender
0  Priyang     98    Male
1   Aadhya     89  Female
2   Krisha     99  Female
3   Vedant     87    Male
4   Parshv     90    Male
5   Mittal     83  Female
6  Archana     99  Female

15. Print Name of the Columns

In [44]:
df.columns

Index(['Name', 'Marks', 'Gender'], dtype='object')

In [45]:
df.index

RangeIndex(start=0, stop=7, step=1)

16. Sort The Dataframe As Per The Marks Column

In [46]:
df.sort_values(by='Marks',ascending=False)

      Name  Marks  Gender
2   Krisha     99  Female
6  Archana     99  Female
0  Priyang     98    Male
4   Parshv     90    Male
1   Aadhya     89  Female
3   Vedant     87    Male
5   Mittal     83  Female

17. Display Name & Marks of The Female Students

In [47]:
df[df['Gender']=='Female'][['Name','Marks']]

      Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99

In [48]:
df[df['Gender'].str.contains('female',case=False)][['Name','Marks']]

      Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99

In [49]:
df[df['Gender'].isin(['Female'])][['Name','Marks']]

      Name  Marks
1   Aadhya     89
2   Krisha     99
5   Mittal     83
6  Archana     99